.click-flicker {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  animation: flicker 1s infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}