@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.layer2 {
  background-image: url("./assets/svg/layer2.svg");
}

.spacer {
  aspect-ratio: 1300/400;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.flip {
  transform: rotate(180deg);
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
}

.pink {
  background: #ff0066;

  svg {
    height: 75%;
    width: 50%;
    transform: scale(2);
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}
